* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* countdown */
.countdown {
  display: flex;

  font-family: "Inter", sans-serif;
  background-image: url(pexels-pixabay-157879.jpg);
  background-repeat: no-repeat;
  background-position: right top;
  background-size: cover;
  height: 100vh;
}

.countdown__input {
  font-family: "Inter", sans-serif;
}

.countdown__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  width: min(600px, 90%);
  margin: auto;
  background: rgba(255, 255, 255, 0.08);
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
}

.countdown__form {
  width: 100%;
  padding: 4rem 0;
}

.countdown__input {
  margin: 0 auto;
  width: 12rem;
  display: block;
}

.countdown__numbers {
  display: flex;
  list-style-type: none;
  //border: 2px solid yellow;
  width: 100%;
  justify-content: space-between;
  font-family: "Dancing Script", cursive;
  transform: opacity .5s ease;
}

.countdown__numbers li {
  height: 6rem;
  width: 6rem;
  border-radius: 3px;
  color: black;
  font-size: 4rem;
  text-align: center;
}

.countdown__numbers span {
  font-size: 2rem;
}

.countdown__numbers small {
  font-size: 1.3rem;
}

.btn {
  width: 12rem;
  border: none;
  margin: 0 auto;
}

.attribution {
  color: white;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  font-size: 1rem;
}

.attribution a {
  color: inherit;
}
